<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Parqueadero</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entryVehiculo">Entrada de Vehiculos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getVehiculos"> Vehiculos Registrados </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getVehiculoByPlaca"> Consulta de Vehiculo </a>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0 borderHora mx-auto">
                <li class="nav-item">
                    <p class="nav-link">Hora actual del sistema:</p>
                </li>
                <li class="nav-item">
                    <app-clock class="nav-link"></app-clock>
                </li>
            </ul>
        </div>
    </div>
</nav>